/*h1{
  color:white !important;
}
*/
body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  /*background-image: url("http://i.imgur.com/nyFQHhZ.jpg");*/
  /*background-image: url("http://i.imgur.com/lZRS9rK.jpg");    dots*/
  background-image: url("http://i.imgur.com/OgD9AlQ.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.navHeader{
  color: white;
  size: 30px;
}

.topbar{
  height:32px;
  background-color: #555;
}
.titletitle{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  border:15px solid green;
  border-radius: 5px;
/*  position:absolute;*/
}

.talisDancer{
  border:20px solid blue;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  position:absolute;
}


.corgiDancer{
  content:url(http://i.imgur.com/vWz7Ol3.png);
  height:150px;
  width:150px;
  margin:10px;
  border-radius:30%;
  border:0;
  position:absolute;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

/*make a class that changes the direction of the rotation . once the corgi rotates to the end, change to new class*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
